@import './coach-mark-map.scss';

#container { 
  width: 100%;
  .coachmark
  {
    width: 30%;
    min-height: 72px;
    background-color:var(--primary-text);
    color: var(--neutral);
    float: left;
  }
  .supporting-visual{
      width: 5px;
      min-height: 72px;
      background-color: blue;
      float: left;
  }
  label{
    font-size:var(--subheading-secondary-font-size);
  }
  .coach-text{
    font-size: var(--body-font-size);
    margin: 3px;
  }

  .button-icon{
    float: right;
    width: 16px;
    height: 16px;
  }
}

  #container {
    -moz-animation: slide-up 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: slide-up 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: slide-up 0s ease-in 5s forwards;
    /* Opera */
    animation: slide-up 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    // animation: 1s slide-up;
}

  @keyframes slide-up {
    from {
      margin-top: 100%;
      height: 300%; 
      overflow:hidden;
    }
    to {
      margin-top: 0%;
      height: 100%;
      visibility:hidden;
    }
  }

@-webkit-keyframes slide-up {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
  


  